.highlight {
	width: 100%;
	height: 80vh;
	background: linear-gradient(270deg, var(--primary-color), var(--secondary-color));
	background-size: 400% 400%;
	position: relative;
	-webkit-animation: gradient 7s ease infinite;
	-moz-animation: gradient 7s ease infinite;
	animation: gradient 7s ease infinite;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.highlight span {
	font-size: 4rem;
	color: white;
	font-weight: 700;
	padding: 0.8rem; 
}

.highlight button {
	color: white;
	position: absolute;
	padding: 0.8rem;
	width: 60px;
	height: 60px;
	bottom: -30px;
	display: flex;
	justify-content: center;
	border: none;
	align-items: center;
	border-radius: 50%;
    transition: all .4s;
}

.highlight button:hover {
	box-shadow: var(--shadow) 0 7px 5px;
}

.highlight button:focus {
	outline: none;
}

.highlight button .arrow {
	color: rgb(0, 0, 0);
	font-size: 2rem;
	font-weight: 700;
}

