/* #region imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* #endregion */

:root {
	/* Colors */
	--primary-color: #45f1e7;
	--secondary-color: #4f97ec;
	--background: #e1eaee;
	--txt-title-color: #2a2a2a;
	--txt-sub-title-color: #4d4d4d;
	--txt-color: #727272;
	--shadow: rgba(36, 40, 46, 0.267);

	/* Paddings */
	--horizontal: 15%;
	--vertical: 2rem;

	/* Font weight */
	--txt-title-weight: 700;
	--txt-sub-title-weight: 600;
	--txt-weight: 500;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

body {
	background-color: var(--background);
}

.title {
	font-size: 23px;
	font-weight: var(--txt-title-weight);
	color: var(--txt-title-color);
}

.sub-title {
	font-size: 19px;
	font-weight: var(--txt-sub-title-weight);
	color: var(--txt-sub-title-color);
}

.text {
	font-size: 16px;
	font-weight: var(--txt-weight);
	color: var(--txt-color);
}

section {
	padding: var(--vertical) var(--horizontal);
}

html[theme='light'] {
}

html[theme='dark'] {
}

@-webkit-keyframes gradient {
	0% {
		background-position: 62% 0%;
	}
	50% {
		background-position: 39% 100%;
	}
	100% {
		background-position: 62% 0%;
	}
}
@-moz-keyframes gradient {
	0% {
		background-position: 62% 0%;
	}
	50% {
		background-position: 39% 100%;
	}
	100% {
		background-position: 62% 0%;
	}
}
@keyframes gradient {
	0% {
		background-position: 62% 0%;
	}
	50% {
		background-position: 39% 100%;
	}
	100% {
		background-position: 62% 0%;
	}
}
