/* #region imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* #endregion */

:root {
    
    /* Colors */    
    --primary-color: #45F1E7;
    --secondary-color: #4F97EC;
    --background: #e1eaee;
    --txt-color: #555555;
    --shadow: rgba(36, 40, 46, 0.267);

    /* Paddings */
    --horizontal: 20%;
    --vertical: 2rem;
}

* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body{
    background-color: var(--background);
}

html[theme='light'] {
}

html[theme='dark'] {
}

@-webkit-keyframes gradient {
	0% {
		background-position: 62% 0%;
	}
	50% {
		background-position: 39% 100%;
	}
	100% {
		background-position: 62% 0%;
	}
}
@-moz-keyframes gradient {
	0% {
		background-position: 62% 0%;
	}
	50% {
		background-position: 39% 100%;
	}
	100% {
		background-position: 62% 0%;
	}
}
@keyframes gradient {
	0% {
		background-position: 62% 0%;
	}
	50% {
		background-position: 39% 100%;
	}
	100% {
		background-position: 62% 0%;
	}
}

